.layout {
  min-height: 100vh;
}

nz-breadcrumb {
  margin: 16px 0;
}


.logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
  cursor: pointer;
}

nz-header {
  width: 100%;
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 0 50px;
}


.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 380px;
}

nz-footer {
  text-align: center;
}
